/*
	CSS Document
	Author : M. Wiguna Saputra
	2016
*/

@font-face {
	font-family: grb;
	src: url(GothamRoundedBook.ttf);
}

* {
 font-family: grb; 
}

body {
	margin: 0;
	padding: 0;
	background-image: url(backcode.png);
	background-size: 100%;
	width: 100%;
	overflow: hidden;
}

#cs {
	float: left;
	width: 100%;
	font-size: 30pt;
	color: #FFF;
	padding: 20% 0;
	padding-bottom: 100vh;
	font-weight: 900;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
}