<div class="main col-12">
	<div class="main-title col-12">What Should I Do?</div>
	<form #registerForm="ngForm" (ngSubmit)="register(registerForm.value)" class="login col-4 offset-4">
		<input type="text" class="col-12 input" name='name' placeholder="Name" [(ngModel)]='user.name' required />
		<input type="text" class="col-12 input" name='username' placeholder="Username" [(ngModel)]='user.username' required />
		<input type="text" class="col-12 input" name='email' placeholder="E-mail" [(ngModel)]='user.email' #email="ngModel" required pattern='^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$' />
		<div *ngIf="email.errors">
			<div [hidden]="!email.errors.pattern"  class="col-12 alert-red">Email is not valid.</div>
		</div>

		<input type="password" class="col-12 input" name='password' placeholder="Password" [(ngModel)]='user.password' required />

		<div class="col-12 mbot1">
			<div   [hidden]="registerForm.form.valid" class="col-12">Please Complete the Form</div>
			<input [hidden]="registerForm.form.invalid" type="submit" class="col-3 btn-green" value="Register">
		</div>
	
		<span class="col-4">Already Account?</span>
		<a routerLink="/login"><button class="col-3 btn-blue">Login</button></a>
	</form>
</div>