<div class="main col-12">
	<div class="main-title col-12">What Should I Do?</div>
	<div class="login col-4 offset-4">
		<input type="text"     class="col-12 input" name='name' placeholder="Name"     [(ngModel)] = 'user.name' />
		<input type="text"     class="col-12 input" name='username' placeholder="Username" [(ngModel)] = 'user.username' />
		<input type="text"     class="col-12 input" name='email' placeholder="E-mail" [(ngModel)] = 'user.email' />
		<input type="password" class="col-12 input" name='password' placeholder="Password" [(ngModel)] = 'user.password' />
		<button (click) = "register()" type="button" class="col-11 btn-green">Register</button>
		<div class="col-12 mtop1">
			<span class="col-4">Already Account?</span>
			<a routerLink="/login"><button class="col-3 btn-blue">Login</button></a>
		</div>
	</div>
</div>