<div class="col-12 main-home">
	<div class="col-12 header-home">What Should I Do?</div>
	<div class="col-8 offset-2 todo">
		<div *ngIf="user" class="col-11 title-menu">Welcome {{ user.name }}!</div>	
		<div class="col-1 menuContainer mtop1 mbot1">
			<button (click)="menu()" class="col-12 btn-blue m0 p8">Menu</button>
			<div id="menu">
				<div class="col-12 menu-item" routerLink="/addTodo">Add Todo</div>
				<div class="col-12 menu-item" routerLink="/profil">Profil</div>
				<div class="col-12 menu-item" (click)="logout()">Logout</div>
			</div>
		</div>
	
		<input type="text" [(ngModel)]="search" class="col-12 input" placeholder="Search Todo...">
		<div *ngFor="let todo of todos | filter: search" class="col-12 todo-item" id="{{ todo.id }}">
			<div class="col-9">
				<div class="col-12">{{ todo.keterangan }}</div>
				<div class="col-12 deadline">Deadline : {{ todo.deadline | date: 'longDate' }}</div>
			</div>
			<div class="col-3 mtop1">
				<button routerLink="['editTodo', {{ todo.id }}]" class="col-5 btn-green p3 mbot1">Edit</button>
				<button (click)="deleteTodo(todo.id)" class="col-5 btn-red p3">Delete</button>
			</div>
		</div>
	</div>
</div>