@font-face {
    font-family: HelveticaNeue;
    src: url(HelveticaNeue.ttf);
}
@font-face {
    font-family: ProximaNova;
    src: url(ProximaNova.ttf);
}
button {padding: 1%}

.main {
	background: url(green.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 100vh;
	padding: 2%;
}
.main-title {
	font-size: 32pt;
	color: #fff;
	margin: 5% 0;
	text-align: center;
	font-family: HelveticaNeue;
}
.title-menu {
	font-size: 16pt;
	color: #555;
	margin: 1% 0;
}
.login {
	border: 1px solid #fff;
	border-radius: 8px;
	padding: 1.5%;
	background-color: #f2f2f2;
	font-family: HelveticaNeue;
}
.input {
	border: none;
	border-radius: 4px;
	background-color: #fff;
	padding: 2%;
	font-size: 11pt;
	box-shadow: 0 0 3px 1px #cfcfcf;
	margin-bottom: 2%;
}
.btn-blue, .btn-green, .btn-red {
	padding: 2%;
	border: none;
	border-radius: 4px;
	margin-right: 1%;
	color: #fff;
	font-size: 10pt;
	font-weight: bold;
	transition: 0.1s !important;
}
.btn-blue:hover, .btn-green:hover, .btn-red:hover {
	cursor: pointer;
}
.btn-blue  {background-color: #38D}
.btn-green {background-color: #1C5}
.btn-red   {background-color: #D32}
.btn-blue:hover  {background-color: #26C}
.btn-green:hover {background-color: #1A5}
.btn-red:hover   {background-color: #B32}

.alert-red, .alert-green {
	padding: 2%;
	margin-bottom: 2%;
	border-radius: 3px;
	font-size: 11.5pt;
}
.alert-red {;
	background-color: rgba(245, 30, 40, 0.1);
	color: #B22;
}
.alert-green {;
	background-color: rgba(35, 240, 40, 0.1);
	color: #2B2;
}

/* -- Home -- */

.main-home {
	background-color: #e5e5e5;
	min-height: 100vh;
}
.header-home {
	background-image: url(green.jpg);
	background-size: 100%; 
	font-size: 32pt;
	padding: 5% 4%;
	color: #fff;
	font-family: HelveticaNeue;
}
#menu {
	background-color: #fff;
	position: absolute;
	box-shadow: 0 0 2px 1px #cacaca;
	border-radius: 2px;
	width: 200%;
	top: 100%;
	left: 0;
	display: none;
}
.menuContainer {position: relative}
.menu-item {padding: 6%}
.menu-item:hover {
	cursor: pointer;
	background-color: #38D;
	border-radius: 2px;
	color: #fff;
}
.todo {
	padding: 2%;
	background-color: #fff;
	box-shadow: 0 0 9px 1px #bbb;
	margin: 2% 0;
	border-radius: 4px;
	font-family: ProximaNova;
}
.todo-item {
	padding: 2% 1%;
	box-shadow: 0 0 2px 1px #cacaca;
	margin-bottom: 2%;
	border-radius: 2px;
}
.deadline {
	font-size: 10pt;
	color: #555;
}

/* -- General -- */

.m0    {margin: 0}
.mtop1 {margin-top: 1%}
.mbot1 {margin-bottom: 1%}
.mbot2 {margin-bottom: 2%}
.ptop1 {padding-top: 1%}
.p1    {padding: 1%}
.p3    {padding: 3%}
.p8    {padding: 8%}

@media only screen and (max-width: 610px){
	#menu {width: 100%}
	.p8 {padding: 3%}
}