<div class="col-12 main-home">
	<div class="col-12 header-home">What Should I Do?</div>
	<div class="col-8 offset-2 todo">
		<div class="col-11 title-menu">Profil</div>	
		<div class="col-1 menuContainer mtop1 mbot1">
			<button (click)="menu()" class="col-12 btn-blue m0 p8">Menu</button>
			<div id="menu">
				<div class="col-12 menu-item" routerLink="/">Home</div>
				<div class="col-12 menu-item" (click)="logout()">Logout</div>
			</div>
		</div>
	
		<table border="0" class="col-12">
			<tr>
				<td width="10%">Nama</td>
				<td width="1%">:</td>
				<td>{{ user.name }}</td>
			</tr>
			<tr>
				<td>Usename</td>
				<td>:</td>
				<td>{{ user.username }}</td>
			</tr>
			<tr>
				<td>E-mail</td>
				<td>:</td>
				<td>{{ user.email }}</td>
			</tr>
		</table>
		
	</div>
</div>